body {
    height: 100%;
    width: 100%;
    display: block;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    font-size: 80px;
    padding-bottom: 30px;
    text-decoration: underline;
    color: crimson;
}
.avatars {
    color: chartreuse;
    display: grid;
    justify-content: space-between;
    padding: 20px 20px 20px 50px;
    margin: 15px;
}

.avatarpic {
    height: 50px;
    width: 50px;
}
form { 
    color: chartreuse;
    display: grid;
    justify-content: center;

    background-color: black;
    font-size: 30px;
    font-weight: bolder;
}
button {
    background-color: crimson;
}