body {
    height: 100%;
    width: 100%;
    display: block;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
p {
    position: relative;
    margin-top: 40%;
    font-size: 40px;
    color: red;
    background-color: black;
}